<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>马蜂窝 Slides</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="/static/css/portal.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link
      rel="stylesheet"
      href="http:////at.alicdn.com/t/font_1486930_sdr99hof5j.css"
    />
    <link
      rel="stylesheet"
      href="/static//css/bootstrap.4.3.1.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script src="//wpstatic.mafengwo.net/mtraffic/static/js/moment-2.10.6.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
  </head>

  <body>
    <header class="marketing-section padding-s purpleink search empty">
      <div class="global-header fixed">
        <div class="wrapper">
          <div class="slides-logo logo-animation open">
            <a class="symbol" href="/">
              <div class="box-1"></div>
              <div class="box-2"></div>
              <div class="box-3"></div>
            </a>
            <a class="word" href="/"></a>
          </div>
          <div class="nav-wrapper">
            <ul class="nav">
              <li class="nav-item" data-page-id="sessions/new">
                <a class="nav-item-anchor" href="/admin"
                  ><span class="nav-item-label">Log in</span></a
                >
              </li>
              <li class="nav-item nav-item-highlighted">
                <a class="nav-item-anchor" href="/admin"
                  ><span class="nav-item-label">Sign up</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <form class="search-form" action="/home/index/search" method="get">
        <div class="search-term-wrapper">
          <input
            type="search"
            name='search'
            class="search-term xl"
            placeholder="Search for decks..."
          />
          <div class="button white search-clear">
            <span class="icon i-close"></span>
          </div>
        </div>
        <button
          type="submit"
          class="search-submit button white xl ladda-button"
          data-style="zoom-out"
          data-spinner-color="#333"
        >
          <span class="iconfont iconicon-test5" style="font-size:28px;"></span>
        </button>
      </form>
      <!--
          <div class="search-keywords">
            <h4>Popular searches</h4>
            <div class="search-keywords-list">
              <button class="button outline thin white">react</button>
              <button class="button outline thin white">animation</button>
              <button class="button outline thin white">svg</button>
              <button class="button outline thin white">docker</button>
            </div>
          </div>
          -->
      <svg
        class="marketing-section-curve"
        viewBox="0 0 1000 40"
        height="40"
        preserveAspectRatio="none"
      >
        <path d="M0,0 L 1000,0 S 500,0 0,40"></path>
      </svg>
    </header>
    <article id="doc" class="home">
      <!-- <header>
        <h1>大交通ppt市场</h1>
        <a href="/admin">&nbsp;</a>
      </header> -->
      <section>
        <ul class="carousel">
          <%for(var i = 0; i < slides.length; i++){%>
          <!-- <a href="/slide/show?id=<%=slides[i].id%>" target="_blank" ></a> -->
          <li class="deck-thumbnail" style="max-width: 18rem;">
            <a class="deck-link" href="<%='/slide/show?id='+slides[i].id%>"></a>
            <div
              class="deck-image"
              style="background-image: url(https://s3.amazonaws.com/media-p.slid.es/thumbnails/f824b8888b5a6f0bc19677f4e190f599/thumb.jpg?1566565466)"
            ></div>
            <footer class="deck-details">
              <div class="top">
                <div class="title"><%=slides[i].title%></div>
              </div>
              <div class="bottom">
                <a class="author" href="/davidkhourshid">
                  <span
                    class="picture"
                    style="background-image: url(https://www.gravatar.com/avatar/b2ed37ca7c832840fdeefd6868754407?s=140&amp;d=https%3A%2F%2Fstatic.slid.es%2Fimages%2Fdefault-profile-picture.png)"
                  ></span>
                  <span class="name"><%= slides[i].user.name%></span>
                </a>
                <div class="stats">
                  <div>
                    <%= slides[i].viewCount%><span class="iconfont iconbrowse"></span>
                  </div>
                </div>
              </div>
            </footer>

            <!-- <div class="card-body">
              <h2 class="card-text"><%=slides[i].title%></h2>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between">
                <div class=" p-1">
                  <%= slides[i].user.name%>
                </div>
                <div class="p-1">
                  <i class="iconfont iconicon-test2"></i>
                  <%= slides[i].updateTime%>
                </div>
                <div class=" p-1">
                  <i class="iconfont iconicon-test"></i>
                  <%= slides[i].viewCount%>
                </div>
              </div>
            </div> -->
          </li>
          <%}%>
        </ul>
      </section>
    </article>
    <script>
      $(".ppt-cards").on("click", ".ppt-card", function() {
        const id = $(this).attr("data-id");
        const url = `/slide/show?id=${id}`;
        window.open(url);
      });
    </script>
  </body>
</html>
